<section class="privatelimited-registration-wrapper">
  <div class="container card">
    <div class="row fullcard-wrapper card-body">
      <div class="col-md-7 card-body-titleleft">
        <h2>private limited application form</h2>
        <div class="hr-line"></div>
      </div>

      <div class="col-md-5 card-body-titleright">
        <div class="row align">
          <!-- <div class="image-contact"> -->
          <div class="col-md-2 image-left">
            <img
              src="../../../assets/images/contact-us-legalraasta-form-1.png"
            />
          </div>
          <div class="col-md-10 contact-right">
            <h6>Have any Problems?</h6>
            <p>Call us now at +91-875 000 8585</p>
          </div>
          <!-- </div> -->
        </div>
      </div>

      <div class="col-md-12 tabs">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="pills-Company-tab"
              data-toggle="pill"
              href="#pills-Company"
              role="tab"
              aria-controls="pills-Company"
              aria-selected="true"
              >1&nbsp;Company Info</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled tab-link"
              id="pills-Director-tab"
              data-toggle="pill"
              href="#pills-Director"
              role="tab"
              aria-controls="pills-Director"
              aria-selected="false"
              >2&nbsp;Director details</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled tab-link"
              id="pills-Business-tab"
              data-toggle="pill"
              href="#pills-Business"
              role="tab"
              aria-controls="pills-Business"
              aria-selected="false"
              >3&nbsp;Business Activity</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled tab-link"
              id="pills-Pricing-tab"
              data-toggle="pill"
              href="#pills-Pricing"
              role="tab"
              aria-controls="pills-Pricing"
              aria-selected="false"
              >4&nbsp;Pricing and Packages</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled tab-link"
              id="pills-abc-tab"
              data-toggle="pill"
              href="#pills-abc"
              role="tab"
              aria-controls="pills-abc"
              aria-selected="false"
              >5</a
            >
          </li>
        </ul>
        <div
          class="hr-dotted"
          style="border-bottom: 1px dotted #ccc; margin-bottom: 12px"
        ></div>
        <!-- <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
          </div> -->
        <div class="text-body">
          <p class="filltext">
            Fill in the below form to apply for Pvt. Ltd. online. It will take
            less than 5 mins. Your details are secured by SSL.
          </p>
          <p class="suggest">
            Suggest names for your Private Limited (list two alternates, in
            order of preference).
          </p>

          <form [formGroup]="companyform">
            <div
              class="form-group company"
              [ngClass]="{
                'has-error':
                  companyform.controls.namecompany.invalid &&
                  (companyform.controls.namecompany.dirty ||
                    companyform.controls.namecompany.touched)
              }"
            >
              <label class="labelname"
                >What Is the Name of the Private Limited company you want to
                register?&nbsp;<sup><i class="fa fa-asterisk"></i></sup
              ></label>
              <input
                type="text"
                class="form-control company"
                placeholder=""
                formControlName="namecompany"
              />
              <h1>Type in the name EXACTLY as you want it to appear.</h1>
            </div>
            <div class="form-group company">
              <div class="addon">
                <button type="button" id="plus">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
              </div>
              <label class="labelname"
                >List two alternates, in order of preference&nbsp;<sup
                  ><i class="fa fa-asterisk"></i></sup
              ></label>
              <input
                type="text"
                class="form-control add"
                placeholder=""
                formControlName="listadd"
              />
            </div>
            <div class="form-group company">
              <label class="labelname"
                >Address of proposed Pvt. Co.&nbsp;<sup
                  ><i class="fa fa-asterisk"></i></sup
              ></label>
              <input
                type="text"
                class="form-control address"
                placeholder=""
                formControlName="address"
              />
            </div>
            <div class="form-group company">
              <label class="labelname"
                >State&nbsp;<sup><i class="fa fa-asterisk"></i></sup
              ></label>

              <select name="states" class="custom-select mb-3">
                <option value="AndhraPradesh">AndhraPradesh</option>
                <option value="ArunachalPradesh">ArunachalPradesh</option>
                <option selected>Delhi</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Jaipur">Jaipur</option>
                <option value="Karnataka">Karnataka</option>
              </select>
              <div class="selectarrow">
                <i
                  class="fa fa-angle-down"
                  aria-hidden="true"
                  aria-disabled="true"
                ></i>
              </div>
            </div>
            <br />
            <div class="form-group company">
              <label class="labelname"
                >Pincode.&nbsp;<sup><i class="fa fa-asterisk"></i></sup
              ></label>
              <input
                type="number"
                class="form-control Pincode"
                placeholder=""
                formControlName="Pincode"
              />
            </div>
            <div
              class="hr-dotted"
              style="border-bottom: 1px dotted #ccc; margin-bottom: 12px"
            ></div>
            <button type="button" class="btn-next">Next</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
