<section class="Proprietorship-wrapper">
    <div class="Proprietorship-banner">
      <div class="banner-image">
        <div class="overlay-Proprietorship">
          <div class="container">
            <div class="col-md-12 overlay-Proprietorship-body">
              <div class="row">
                <div class="col-lg-8 col-md-12 overlay-Proprietorship-left">
                  <h3>Sole Proprietorship Registration</h3>
                  <div
                    class="hr"
                    style="border-bottom: 1px solid white; width: 95%"
                  ></div>
                  <h4>
                    Ideal for small traders and merchants
                  </h4>
                  <h5>Starting At Rs. 2,359 Onwards</h5>
                  <p></p>
                  <h6>SAVE 40% COST…!!!</h6>
                  <h2>(Takes 3-6 days)</h2>
                </div>
  
                <div class="col-lg-4 col-md-12 card-reg-Proprietorship">
                  <div class="card">
                    <div class="card-body">
                      <div class="rectangle-Proprietorship">
                        <p>Sole Proprietorship </p>
                      </div>
                      <div class="triangle-l-Proprietorship"></div>
  
                      <form>
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="full name"
                            id="fullname"
                            formControlName="fullname"
                          />
                        </div>
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="email"
                            id="email"
                            formControlName="email"
                          />
                        </div>
                        <div class="form-group">
                          <input
                            type="number"
                            class="form-control"
                            placeholder="mobile number"
                            id="number"
                            formControlName="number"
                          />
                        </div>
                        <button type="button" id="proceed" (click)="proceed()">
                          proceed
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

   
