<section class="job-wrapper">
    <div class="job-banner">
        <div class="banner-content">
            <div class="numbers">
                <div class="col-md-12 mb-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="companies">
                                <h4>2,136</h4>
                                <p>COMPANIES</p>
                            </div>
                        </div>  
    
                        <div class="col-md-6">
                            <div class="companies">
                                <h4>4,121</h4>
                                <p>JOBS</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <h5>Leverage our network to build your career.</h5>
                    <p>Tell us about your professional DNA to get discovered by any company
                        in our network with opportunities relevant to your career goals.</p>
                    
                    <button class="btn discovered">Get Discoverd</button>

                    <p>Airuts Portfolio Company?&nbsp;<span><a>Claim Your Profile</a></span></p>
                </div>

            </div>
        </div>
    </div>
    
    <div class="jobboard-tabs">
        <section class="service-wrapper">
            <div>
                <div class="services-tabs-section">
                    
                        <nav>
                            <div class="container">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Search Jobs</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Explore companies</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Talent network</a>
                                </div>
                            </div>
                        </nav>
                    
                    
                    <div class="container">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="tab-1">
                                    <div class="card search-data">
                                        <div class="company">  
                                            <input type="text" class="form-control" placeholder="Search job title, companies, industry...">
                                            <div class="search-icon">
                                                <span><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="showing">
                                        <span>Showing 4,121 Jobs</span>
                                    </div>

                                    <div class="card job-card">
                                        <div class="job-data">
                                            <div class="company">
                                                <div class="comapny-details">
                                                    <img src="./assets/images/job-board/robotslab.png">

                                                    <div class="company-about">
                                                        <h4>Video Editor (After Effects Required)</h4>
                                                        <p>Donut Media</p>
                                                        
                                                        <div class="location">
                                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>

                                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Today</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="read-more">
                                                <button class="btn read-more">READ MORE</button>
                                            </div>
                                        </div>

                                        <div class="job-data">
                                            <div class="company">
                                                <div class="comapny-details">
                                                    <img src="./assets/images/job-board/robotslab.png">

                                                    <div class="company-about">
                                                        <h4>Video Editor (After Effects Required)</h4>
                                                        <p>Donut Media</p>
                                                        
                                                        <div class="location">
                                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>

                                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Today</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="read-more">
                                                <button class="btn read-more">READ MORE</button>
                                            </div>
                                        </div>

                                        <div class="job-data">
                                            <div class="company">
                                                <div class="comapny-details">
                                                    <img src="./assets/images/job-board/robotslab.png">

                                                    <div class="company-about">
                                                        <h4>Video Editor (After Effects Required)</h4>
                                                        <p>Donut Media</p>
                                                        
                                                        <div class="location">
                                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>

                                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Today</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="read-more">
                                                <button class="btn read-more">READ MORE</button>
                                            </div>
                                        </div>

                                        <div class="job-data">
                                            <div class="company">
                                                <div class="comapny-details">
                                                    <img src="./assets/images/job-board/robotslab.png">

                                                    <div class="company-about">
                                                        <h4>Video Editor (After Effects Required)</h4>
                                                        <p>Donut Media</p>
                                                        
                                                        <div class="location">
                                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>

                                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Today</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="read-more">
                                                <button class="btn read-more">READ MORE</button>
                                            </div>
                                        </div>

                                        <div class="job-data">
                                            <div class="company">
                                                <div class="comapny-details">
                                                    <img src="./assets/images/job-board/robotslab.png">

                                                    <div class="company-about">
                                                        <h4>Video Editor (After Effects Required)</h4>
                                                        <p>Donut Media</p>
                                                        
                                                        <div class="location">
                                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>

                                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Today</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="read-more">
                                                <button class="btn read-more">READ MORE</button>
                                            </div>
                                        </div>

                                        <div class="job-data">
                                            <div class="company">
                                                <div class="comapny-details">
                                                    <img src="./assets/images/job-board/robotslab.png">

                                                    <div class="company-about">
                                                        <h4>Video Editor (After Effects Required)</h4>
                                                        <p>Donut Media</p>
                                                        
                                                        <div class="location">
                                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>

                                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Today</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="read-more">
                                                <button class="btn read-more">READ MORE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="tab-1 tabb-2">
                                    <div class="card search-data">
                                        <div class="company">  
                                            <input type="text" class="form-control" placeholder="Search job title, companies, industry...">
                                            <div class="search-icon">
                                                <span><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="showing">
                                        <span>Showing 4,121 Jobs</span>
                                    </div>

                                    <div class="explore-tab-section">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="card">
                                                         <div class="explore-image">
                                                            <img src="./assets/images/job-board/robotslab.png">

                                                            <div class="happier">
                                                                <h4>10% Happier</h4>
                                                                <p>16 Jobs</p>
                                                            </div>
                                                         </div>

                                                         <div class="explore-data">
                                                            <p>10% happier is a health and wellness platform that offer a simple approach to meditation</p>

                                                            <h5>SEE 16 JOBS AND MORE INFO</h5>
                                                         </div>


                                                         <div class="card-footer">
                                                            <div class="location">
                                                                <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Los Angeles, USA</span>
    
                                                                <span><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Today</span>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="tab-1 tabb-3">
                                    <div class="talent-network">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="talent-network">
                                                        <h3>Airuts Talent Network</h3>

                                                        <p>As our companies grow, they look to us to help them find the best talent.</p>
                                                        <p>Signal that you'd be interested in working with a Techstars company to help us put the right
                                                            opportunities at great companies on your radar. The choice to pursue a new career
                                                            move is then up to you.</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-5">
                                                    <div class="card">
                                                        <div class="about-you">
                                                            <h3>Tell us about you.</h3>

                                                            <p>2,136 companies use our network as a trusted source to hire top talent.</p>

                                                            <p>Share more about the type of opportunity you want next exclusively with our network.</p>

                                                            <div class="text-center signup-section">
                                                                <button class="btn sign-up">Sign up</button>

                                                                <p>We'll keep you updated on new opportunities and put your profile in front of the people responsible for hiring at our companies.</p>

                                                                <p>Do you already have an account? <a class="logn-here">Log in here</a>.</p>
                                                            </div>

                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>
