<section class="login-wrapper">
    <div class="login-section">

        <div class="login-image">

        </div>

        <div class="login-form">
            <div class="login-header">
                <div class="logo">
                    <img src="assets/images/logo.png">
                </div>
            </div>
            <form [formGroup] = "registerForm">
                <div class="col-md-12">
                    <div class="login-input">
                        <input type="text" [class.is-invalid]="
                        registerForm.get('name').invalid && 
                        registerForm.get('name').touched || (registerForm.get('name').pristine && hasError)"
                         class="form-control" formControlName="name" placeholder="Enter First Name">
                        <span class="error" *ngIf="registerForm.get('name').invalid && 
                        registerForm.get('name').touched || (registerForm.get('name').pristine && hasError)">Name is required</span>
                    </div>

                    <!-- <div class="login-input">
                        <input type="text" class="form-control" placeholder="Enter Last Name">
                    </div> -->

                    <div class="login-input">
                        <input type="email" [class.is-invalid]= "
                        registerForm.get('email').invalid && 
                        registerForm.get('email').touched || registerForm.get('email') && hasError"
                         class="form-control" formControlName="email" placeholder="Enter Email ID">
                        <span *ngIf="registerForm.get('email').invalid && 
                        registerForm.get('email').touched || registerForm.get('email').pristine && hasError">Email is required</span>
                    </div>

                    <div class="login-input">
                        <input type="number" [class.is-invalid]= "
                        registerForm.get('number').invalid && 
                        registerForm.get('number').touched || registerForm.get('number').pristine && hasError"
                         class="form-control" formControlName="number" placeholder="Enter Number" maxlength="10">
                        <span class="error" *ngIf="registerForm.get('number').invalid && 
                        registerForm.get('number').touched || registerForm.get('number').pristine && hasError">Mobile Number is required</span>
                    </div>

                    <div class="login-input">
                        <input type="password" [class.is-invalid]= "
                        registerForm.get('password').invalid && 
                        registerForm.get('password').touched || registerForm.get('password').pristine && hasError"
                         class="form-control" formControlName="password" placeholder="Enter Password">
                         <span class="error" *ngIf="registerForm.get('password').invalid && 
                         registerForm.get('password').touched || registerForm.get('password').pristine && hasError">Password is required</span>
                    </div>
                    
                    <div class="login-button">
                        <button type="button" class="form-control" (click)="register()">Register</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</section>