<div class="about">
    <div class="image-container">
        <div class="layer"></div>
        <div class="bg-image">
            <h2 class="title">About us</h2>
        </div>
    </div>
    <div class="about-cards">
        <div class="about-cards-container">
            <div class="row">
                <div class="col-12 col-lg-4 card-cols">
                    <div class="card">
                        <div class="icons-bg">
                            <img src="assets/images/about-graph.png" alt="">
                        </div>
                        <div class="card-body">
                            <h4>Learners</h4>
                            <p>We provide the learners a platform to apply their knowledge and creativity in real world
                                through ideation, innovation and scaling up. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 card-cols">
                    <div class="card">
                        <div class="icons-bg">
                            <img src="assets/images/about-board.png" alt="">
                        </div>
                        <div class="card-body">
                            <h4>Industry</h4>
                            <p>We provide industries a diverse environment for design, research, development,
                                commercialization and business growth through technology, market access, skilled
                                workforce and investment support. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 card-cols">
                    <div class="card">
                        <div class="icons-bg">
                            <img src="assets/images/about-crown.png" alt="">
                        </div>
                        <div class="card-body">
                            <h4>Society</h4>
                            <p>We serve the society by bringing healthy, competitive products and services and also
                                employment and business opportunities for uplifting the standards of living of its
                                constituents. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-section">
        <div class="about-us-container">
            <p class="about-title">about us</p>
            <div class="about-us-main-title">
                <h3>We are here to create a future </h3>
                <h3> ready world with <span style="color: #1fc881;">experience</span></h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="assets/images/about-company.png" alt="" class="w-100">
                </div>
                <div class="col-12 col-md-6 about-us-right-section">
                    <div class="percent-references">
                        <ul>
                            <li>
                                <span>Ideators</span>
                                <p class="percent-line"></p>
                                <p class="counter-circle">90%</p>
                            </li>
                            <li>
                                <span>Startups</span>
                                <p class="percent-line"></p>
                                <p class="counter-circle">95%</p>
                            </li>
                            <li>
                                <span>Corporations </span>
                                <p class="percent-line"></p>
                                <p class="counter-circle">92%</p>
                            </li>
                            <li>
                                <span>Investors </span>
                                <p class="percent-line"></p>
                                <p class="counter-circle">100%</p>
                            </li>
                        </ul>
                    </div>
                    <div class="about-us-text">
                        <p>These statistics are created by a dedicated team of professionals, from diverse backgrounds
                            [vivid industries, academic and government] who are constantly working with the global
                            academic and corporate environment, designing the right opportunities and bringing them for
                            the benefit of the local academia, industry and society.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-section">
        <div class="video-layer"></div>
        <div class="video-text">
            <h4>Experience AIRUTS and see how it interacts</h4>
            <h4>with your interests to bring you tailor </h4>
        </div>
    </div>
    <div class="about-us-container">
        <!-- <div class="why-work-with-content">
            <div class="small-text">
                <p class="why-title">Why work with us?</p>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-4 why-tabs-left">
                <h2>Why work with us?</h2>
                <ul class="nav nav-pills flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#expert">
                            <div class="why-tab-title">
                                <h3>Expert Team</h3>
                            </div>
                            <div class="why-tab-sub-title">when an unknown printer took a galley of type and scrambled
                                it to make a type specimen book.</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#intelligence">
                            <div class="why-tab-title">
                                <h3>Intelligence</h3>
                            </div>
                            <div class="why-tab-sub-title">when an unknown printer took a galley of type and scrambled
                                it to make a type specimen book.</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#ecosystem">
                            <div class="why-tab-title">
                                <h3>Ecosystem</h3>
                            </div>
                            <div class="why-tab-sub-title">when an unknown printer took a galley of type and scrambled
                                it to make a type specimen book.</div>
                        </a>

                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <!-- Tab panes -->
                <div class="tab-content h-100">
                    <div id="expert" class="container tab-pane active image-tab h-100">
                        <img src="assets/images/about-banner.jpg" alt="">
                    </div>
                    <div id="intelligence" class="container tab-pane fade image-tab h-100">
                        <img src="assets/images/about-banner.jpg" alt="">
                    </div>
                    <div id="ecosystem" class="container tab-pane fade image-tab h-100">
                        <img src="assets/images/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Carousel -->
    <div class="partner-container">
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="assets/images/clientcarousel1.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel2.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel3.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel4.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel1.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel2.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel3.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel4.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel1.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel2.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel3.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="assets/images/clientcarousel4.png" height="100" width="250" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>