<div class="header-banner">
    <nav>
        <div class="container">
            <div class="nav-section">
                <div class="logo" [routerLink]="['']">
                    <img src="assets/images/logo.png">
                </div>

                <div class="navlinks-section">
                    <div class="menu-icon" (click)="showMenu()">
                        <i class="fa fa-bars open-icon"></i>
                    </div>
                    <ul class="menu">
                        <li>
                            <a>Start Busines</a>
                        </li>

                        <li>
                            <a>Income Tax and compliance</a>
                        </li>

                        <li>
                            <a>GST</a>
                        </li>

                        <li>
                            <a>NGO</a>
                        </li>

                        <li>
                            <a>Payroll</a>
                        </li>

                        <li>
                            <a>Accounting and Bookkeeping</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>