/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import "../../../assets/responsive.scss";

.header-banner {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
    @media screen and (max-width:992px) {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    nav {
        margin:0;
        padding: 0;
        background-color: #fff;
        .container {
            max-width: 1300px;
            margin: auto;
            .nav-section {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 0;
                .logo {
                    height: 50px;
                    @include mobile {
                        height: 40px;
                    }
                    img {
                        height: 100%;
                    }
                }
                .navlinks-section {
                    .menu {
                        background: #fff;
                        float: right;
                        padding:0;
                        margin:0;
                        list-style: none;
                        position: relative;
                        li {
                            margin: 0px;
                            display: inline-block;
                            float: left;
                            background-color: #fff;
                            &:focus {
                                border: none !important;
                            }
                            &:hover {
                                // background: #fff;
                                // color: #103d5f;
                                a {
                                    background: #fff;
                                    color: #103d5f;
                                    position: relative;
                                    &::before {
                                        content: "";
                                        width: 0;
                                        height: 0;
                                        border-left: 8px solid transparent;
                                        border-right: 8px solid transparent;
                                        border-top: 8px solid #0ca332;
                                        position: absolute;
                                        top: 100%;
                                        z-index: 999999;
                                        left: 37%;
                                        
                                    }
                                }
                                
                            }
                            a {
                                display:block;
                                padding:14px 15px;	
                                color:#0ca332;
                                font-size:17px;
                                text-decoration:none;
                                cursor: pointer;
                                position: relative;
                                &:focus {
                                    border: none !important;
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.toggle,
[id^=drop] {
	display: none;
}
nav:after {
	content:"";
	display:table;
	clear:both;
}


nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
// nav a:hover { 
// 	background-color: #000000; 
// }
nav ul ul {
	display: none;
	position: absolute; 
}

nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

.menu-icon {
    display: none;
    @media (max-width:992px) {
        display: block;
    }
}
@media (max-width:992px) {
    .navlinks-section {
        position: relative;
        .menu-icon {
            &:hover {
                cursor: pointer;
            }
            i {
                font-size: 22px;
            }
        }
    }
    .menu {
        transition: 0.3s ease-in-out;
        // transform: translateX(400px);
        height: 100%;
        position: fixed !important;
        z-index: 1;
        width: 0;
        top: 70px;
        display: flex;
        flex-direction: column;
        right: 0;
        li {
            display: block;
            &:hover {
                background-color: #0ca332 !important;
                color: #fff !important;
                cursor: pointer;
            }
            a {
                color: #fff;
                &:hover {
                    background-color: #0ca332 !important;
                    color: #fff !important;
                    cursor: pointer;
                }
            }
        }
    }
    .open-menu {
        // transform: translateX(0);
        width: 300px;
    }
    .close-icon {
        &::before{
            content: "\f00d";
            font-family: FontAwesome;
            font-size: 25px;
        }
    }
}

.total-sub-menu {
    background: #fff;
    z-index: 5;
    padding-left: 0;
    width: 100%;
    height: 380px;
    left: 0;
    .sub-menu {
        display: flex;
        height: 350px;
        padding: 15px;
        .sub-menu-list {
            width: 33.33%;
            padding: 15px 0px;
            h3 {
                font-size: 18px;
                font-weight: bold;
                color: #0ca332;
            }

            li {
                display: block;
                float: none;
                width: 100%;
                padding: 5px 0px !important;
                :hover {
                    cursor: pointer;
                }

            }
        }
    }
}

.sub-menu-list li:focus {
    border: none;
    outline: none;
}


.sub-menu-list li:hover {
    cursor: pointer;
    padding-left: 8px;
    transition: 0.2s ;
}


// .main-menu {
//     .nav {
//         .menu {
//             li {
//                 a {
//                     &:hover {
//                         .mega-menu{
//                             opacity: 1 ;
//                             transform: scaleY(1);
//                             z-index: 999;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }





// .main-menu > nav > ul > li:hover .mega-menu {
//     opacity: 1;
//     transform: scaleY(1);
//     z-index: 999;
// }


// .mega-menu {
//     background: #fff none repeat scroll 0 0;
//     border: 1px solid #ddd;
//     left: 0;
//     list-style: outside none none;
//     opacity: 0;
//     padding: 10px 15px;
//     position: absolute;
//     text-align: left;
//     top: 100%;
//     transform: scaleY(0);
//     transform-origin: center top 0;
//     -webkit-transition: all 0.3s ease 0s;
//     -o-transition: all 0.3s ease 0s;
//     transition: all 0.3s ease 0s;
//     width: 220px;
//     z-index: -99;
// }


// .mega-menu {
//     padding: 15px 0;
//     width: 640px !important;
//   }
//   .mega-menu .column { 
//     padding: 15px;
//     width: 25%;
//     float: left;
//     display: block;
//   }
//   .mega-menu .column ul {
//     list-style: outside none none;
//   }
   
//   .mega-menu .column ul li:first-child {
//     border-bottom: 1px solid #ddd;
//     margin-bottom: 15px;
//   }
//   .mega-menu.mega-menu-page .column ul li:first-child {
//     border-bottom: none;
//     margin-bottom: 0;
//   }
//   .mega-menu .column ul li a {
//     display: block;
//     font-size: 13px;
//     font-weight: 500;
//     padding-bottom: 10px;
//     text-transform: capitalize;
//   }
//   .mega-menu.mega-menu-page .column ul li a {
//     text-transform: uppercase;
//   }
//   .mega-menu.mega-menu-page .column ul li:first-child a {
//     font-size: 13px;
//     font-weight: 500;
//     text-transform: uppercase;
//   }
//   .mega-menu .column ul li:first-child a {
//     font-size: 14px;
//     font-weight: 700;
//     text-transform: uppercase;
//   }
//   .mega-menu .column ul li a:hover, .mega-menu .column ul li a:focus  {
//     color:#bb25e0;
//     padding-left: 5px;
//   }
//   .mega-menu .column > a {
//     display: block;
//     overflow: hidden;
//     position: relative;
//   }
//   .mega-menu .column > a::before {
//     background-color: rgba(0, 0, 0, 0.15);
//     content: "";
//     height: 0;
//     left: 0;
//     margin: auto;
//     position: absolute;
//     top: 0;
//     -webkit-transition: all 0.3s ease 0s;
//     -o-transition: all 0.3s ease 0s;
//     transition: all 0.3s ease 0s;
//     width: 0;
//     z-index: 1;
//   }
//   .mega-menu .column > a::after {
//     background-color: rgba(0, 0, 0, 0.15);
//     bottom: 0;
//     content: "";
//     height: 0;
//     position: absolute;
//     right: 0;
//     -webkit-transition: all 0.3s ease 0s;
//     -o-transition: all 0.3s ease 0s;
//     transition: all 0.3s ease 0s;
//     width: 0;
//   }
//   .mega-menu .column > a:hover::before, .mega-menu .column > a:hover::after {
//     height: 100%;
//     -webkit-transition: all 0.4s ease 0s;
//     -o-transition: all 0.4s ease 0s;
//     transition: all 0.4s ease 0s;
//     width: 100%;
//   }
//   .mega-menu .column > a img {
//     width: 100%;
//   }
  