<section class="contact-wrapper">
    <div class="container">
        <div class="contact-heading">
            <h3>Contact Us</h3>

            <p>Are you an aspiring entrepreneur, early-stage startup founder, investor, potential partner, mentor or volunteer?
                Learn the <br> different ways to join the airuts Network and connect with us!</p>
        </div>

        <div class="contact-content">
            <h4>Learn</h4>

            <p>
                Are you an aspiring entrepreneur that wants to get involved? click 
                <a href="#">here</a>.
            </p>

            <p>
                Are you an early- stage startup founder wanting to learn how airuts can help?  click .
                <a href="#">here</a>.
            </p>
        </div>

        <div class="contact-content">
            <h4>Attend</h4>

            <p>
                Register to attend a   
                <a href="#">Startup Week</a>.
            </p>

            <p>
                Register to participate in a 
                <a href="#">Startup Weekend</a>.
            </p>
        </div>


        <div class="contact-content">
            <h4>Volunteer</h4>

            <p>
                Apply to bring Startup Week to your city   
                <a href="#">here</a>.
            </p>

            <p>
                Apply to organize a Startup Weekend in your city 
                <a href="#">here</a>.
            </p>
        </div>


        <div class="contact-content">
            <h4>Apply</h4>

            <p>
                Learn about airuts mentorship-driven Accelerators    
                <a href="#">here</a>.
            </p>

        </div>


        <div class="contact-content">
            <h4>Partner</h4>

            <p>
                Contact us to learn about airuts Partnerships here   
                <a href="#">here</a>.
            </p>
            
        </div>


        <div class="contact-content">
            <h4>Sponsor</h4>

            <p>
                Contact us to learn about airuts Event Sponsorships
                <a href="#">here</a>.
            </p>
            
        </div>


        <div class="contact-content">
            <h4>Invest</h4>

            <p>
                Learn more about investing in airuts Portfolio Companies
                <a href="#">here</a>.
            </p>
            
        </div>


        <div class="contact-content">
            <h4>Privacy</h4>

            <p>
                Need to adjust your privacy settings with us? Reach out to: 
                <a href="#">privacy@airuts.com</a>.
            </p>
            
        </div>


        <div class="contact-content">
            <h4>Can't find what you're looking for?</h4>

            <p>
                No problem, we’re here to help you, just shoot us an 
                <a href="#">email: help@airuts.com </a>.
            </p>
            
        </div>
    </div>
</section>
