<section class="Partnership-wrapper">
  <div class="Partnership-banner">
    <div class="banner-image">
      <div class="overlay-Partnership">
        <div class="container">
          <div class="col-md-12 overlay-Partnership-body">
            <div class="row">
              <div class="col-lg-8 col-md-12 overlay-Partnership-left">
                <h3>Partnership Registration</h3>
                <div
                  class="hr"
                  style="border-bottom: 1px solid white; width: 95%"
                ></div>
                <h4>
                    Ideal for Small-Medium Sized Businesses
                </h4>
                <h5>Starting At Rs. 2,199 + registration fees</h5>
                <p></p>
                <h6>SAVE 40% COST..!!!</h6>
                <h2>(Takes 2-8 days)</h2>
              </div>

              <div class="col-lg-4 col-md-12 card-reg-Partnership">
                <div class="card">
                  <div class="card-body">
                    <div class="rectangle-Partnership">
                      <p>Partnership registration</p>
                    </div>
                    <div class="triangle-l-Partnership"></div>

                    <form>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="full name"
                          id="fullname"
                          formControlName="fullname"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="email"
                          id="email"
                          formControlName="email"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="number"
                          class="form-control"
                          placeholder="mobile number"
                          id="number"
                          formControlName="number"
                        />
                      </div>
                      <button type="button" id="proceed" (click)="proceed()">
                        proceed
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

