<section class="service-wrapper">
    <div>
        <div class="services-tabs-section">
            <div  class="container">
                <div class="services-heading">
                    <h5>Innovation Strategy and Delivery</h5>
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Overview</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Impact</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Experts</a>
                    </div>
                </nav>
            </div>
            
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="tab-1">
                        <div class="tab-banner">
                            <img src="./assets/images/services/1.jpg">

                            <div class="banner-content">
                                <h3>Mastering Innovation Strategy and Delivery</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="tab-2">
                        <div class="container-1">
                            <div class="">
                                <h3 class="tab2-heading">Our Latest Thinking on Innovation Strategy and Delivery</h3>
                            </div>
                        </div>
                        <div class="tab-banner">
                            <img src="./assets/images/services/2.jpg">

                            <div class="banner-content">
                                <h3>Mastering Innovation Strategy and Delivery</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="tab-2">
                        <div class="container-1">
                            <div class="">
                                <h3 class="tab2-heading">Meet Our Innovation Consultants and Experts</h3>
                                <p>BCG's innovation consultants partner with leading companies to arrive at solutions in innovation strategy and delivery,
                                     R&D, and more. These are our featured experts on this topic.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





