<section class="privatelimited-wrapper">
    <div class="private-banner">
        <div class="banner-image">
            <div class="overlay">
                <h3>Private Limited Company</h3>
            </div>
            
        </div>
    </div>
    <div class="documents-section">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <div class="documents-required">
                            <h3>Documents for One Person Company Registration:</h3>
    
                            <ul>
                                <li><span><i class="fa fa-caret-right" aria-hidden="true"></i></span>&nbsp;Photograph </li>
                                <li><span><i class="fa fa-caret-right" aria-hidden="true"></i></span>&nbsp;Copy of PAN Card</li>
                                <li><span><i class="fa fa-caret-right" aria-hidden="true"></i></span>&nbsp;Copy of Electricity Bill</li>
                                <li><span><i class="fa fa-caret-right" aria-hidden="true"></i></span>&nbsp;Sale Deed ( if owned )</li>
                                <li><span><i class="fa fa-caret-right" aria-hidden="true"></i></span>&nbsp;Copy of Aadhar Card</li>
                                <li><span><i class="fa fa-caret-right" aria-hidden="true"></i></span>&nbsp;Address Proof ( Bank Statement/Mobile/Telephone bill)</li>
                                <li><span><i class="fa fa-caret-right" aria-hidden="true"></i></span>&nbsp;Copy of rent agreement ( if rented )</li>
                                <li><span><i class="fa fa-caret-right" aria-hidden="true"></i></span>&nbsp;NOC</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-md-5">
                        <div class="onePerson-form">
                            <form>
                                <div class="form-group">
                                    <label>Photo</label>
                                    <br/>
                                    <input type="file" class="upload-box">
                                </div>

                                <div class="form-group">
                                    <label>Copy of Pan Card</label>
                                    <br/>
                                    <input type="file" class="upload-box">
                                </div>

                                <div class="form-group">
                                    <label>Copy of Electricity Bill</label>
                                    <br/>
                                    <input type="file" class="upload-box">
                                </div>

                                <div class="form-group">
                                    <label>Sales Deedi Number</label>
                                    <input type="text" class="form-control" placeholder="Enter Number">
                                </div>

                                <div class="form-group">
                                    <label>Copy of Aadhar Card</label>
                                    <br/>
                                    <input type="file" class="upload-box">
                                </div>

                                <div class="form-group">
                                    <label>Address Proof(Bank Statement/Mobile/Telephone bill)</label>
                                    <br/>
                                    <input type="file" class="upload-box">
                                </div>

                                <div class="form-group">
                                    <label> Copy of rent agreement ( if rented )</label>
                                    <br/>
                                    <input type="file" class="upload-box">
                                </div>

                                <div class="form-group">
                                    <label> NOC</label>
                                    <br/>
                                    <input type="file" class="upload-box">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>