<!-- <div class="landing-page">

    <div class="container">
        <div class="row">
            <div class="col-md-3 content-tabs">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-plc" data-toggle="pill" href="#v-pills-plc-tab" role="tab"
                        aria-controls="v-pills-plc" aria-selected="true">Private limited Company </a>
                    <a class="nav-link" id="v-pills-llp" data-toggle="pill" href="#v-pills-llp-tab" role="tab"
                        aria-controls="v-pills-llp" aria-selected="false">LLP (Limited Liability Partnership)</a>
                    <a class="nav-link" id="v-pills-plc" data-toggle="pill" href="#v-pills-plc-tab" role="tab"
                        aria-controls="v-pills-plc" aria-selected="false">Public Limited Company</a>
                    <a class="nav-link" id="v-pills-opc" data-toggle="pill" href="#v-pills-opc-tab" role="tab"
                        aria-controls="v-pills-opc" aria-selected="false">One person Company
                    </a>
                    <a class="nav-link" id="v-pills-pf" data-toggle="pill" href="#v-pills-pf-tab" role="tab"
                        aria-controls="v-pills-pf" aria-selected="false">Partnership Firm
                    </a>
                    <a class="nav-link" id="v-pills-sp" data-toggle="pill" href="#v-pills-sp-tab" role="tab"
                        aria-controls="v-pills-sp" aria-selected="false">Sole proprietorship
                    </a>
                    <a class="nav-link" id="v-pills-nc" data-toggle="pill" href="#v-pills-nc-tab" role="tab"
                        aria-controls="v-pills-nc" aria-selected="false">Nidhi Company
                    </a>
                    <a class="nav-link" id="v-pills-pc" data-toggle="pill" href="#v-pills-pc-tab" role="tab"
                        aria-controls="v-pills-pc" aria-selected="false">Producer Company
                    </a>
                    <a class="nav-link" id="v-pills-msme" data-toggle="pill" href="#v-pills-msme-tab" role="tab"
                        aria-controls="v-pills-msme" aria-selected="false">MSME
                    </a>
                    <a class="nav-link" id="v-pills-gst" data-toggle="pill" href="#v-pills-gst-tab" role="tab"
                        aria-controls="v-pills-gst" aria-selected="false">GST
                    </a>
                    <a class="nav-link" id="v-pills-esi" data-toggle="pill" href="#v-pills-esi-tab" role="tab"
                        aria-controls="v-pills-esi" aria-selected="false">PF & ESI
                    </a>
                </div>
            </div>
            <div class="col-md-9 content-body">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-plc-tab" role="tabpanel"
                        aria-labelledby="v-pills-plc">
                        v-pills-plc</div>
                    <div class="tab-pane fade" id="v-pills-llp-tab" role="tabpanel" aria-labelledby="v-pills-llp">
                        <div class="mb-3">
                            <h4>For the partners:</h4>
                            1. PAN Card or Passport for Foreigners.<br />
                            2. Drivers License or Aadhar card, residence card, or election identity card or any identity
                            proof issued by the Government.<br />
                            3.Less than 3 months old bank statement or telephone bill.
                        </div>

                        <div>
                            <h4>Registered Office Proof</h4>
                            NOC from land lord.<br />
                            Proof of any utility service.
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-plc-tab" role="tabpanel" aria-labelledby="v-pills-plc">
                        ...
                    </div>
                    <div class="tab-pane fade" id="v-pills-opc-tab" role="tabpanel" aria-labelledby="v-pills-opc">
                        <div class="tab-data">
                            <h4>Documents for One Person Company Registration:</h4>
                            <ul>
                                <li>Photograph</li>
                                <li>Copy of PAN Card</li>
                                <li>Copy of Electricity Bill</li>
                                <li>Sale Deed ( if owned )</li>
                                <li>Copy of Aadhar Card</li>
                                <li>Address Proof ( Bank Statement/Mobile/Telephone bill)</li>
                                <li>Copy of rent agreement ( if rented )</li>
                                <li>NOC</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-pf-tab" role="tabpanel" aria-labelledby="v-pills-pf">
                        <div class="tab-data">
                            <h4>Documents required :</h4>
                            <ul>
                                <li> PAN Card</li>
                                <li>Passport</li>
                                <li>Drivers License</li>
                                <li>Aadhar Card</li>
                                <li>Voters ID</li>
                            </ul>
                        </div>
                        <div class="tab-data">
                            <h4>Proof of Principal place of business</h4>
                            <ul>
                                <li>Sale deed if place of business owned</li>
                                <li>Rental Agreement if rented</li>
                                <li>Copy of latest electricity bill or water bill or property tax bill</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-sp-tab" role="tabpanel" aria-labelledby="v-pills-sp">
                        <div class="tab-data">
                            <h4>Documents required :</h4>
                            <ul>
                                <li>Aadhar Card</li>
                                <li> PAN Card</li>
                                <li>Bank Account</li>
                                <li>Registered office proof</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-nc-tab" role="tabpanel" aria-labelledby="v-pills-nc">
                        <div class="tab-data">
                            <h4>Documents required :</h4>
                            <h5>From Directors or Shareholders:</h5>
                            <ul>
                                <li> PAN Card</li>
                                <li>Photographs</li>
                                <li>Digital signature</li>
                                <li>Aadhar Card or Voter ID</li>
                                <li>Address Proof</li>
                                <li>DIN</li>
                            </ul>
                            <h5>For Registered office:</h5>
                            <ul>
                                <li>Rent Agreement or lease agreement or sale deed </li>
                                <li>Address proof</li>
                                <li>NOC</li>
                            </ul>
                            <h5>Documents prepared or drafted by CA or CS</h5>
                            <ul>
                                <li>MOA </li>
                                <li>AOA</li>
                                <li>MCA</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-pc-tab" role="tabpanel" aria-labelledby="v-pills-pc">
                        <div class="tab-data">
                            <h4>Documents required :</h4>
                            <h5>From Directors or Shareholders:</h5>
                            <ul>
                                <li> PAN Card</li>
                                <li>Photographs</li>
                                <li>Digital signature</li>
                                <li>Aadhar Card or Voter ID</li>
                                <li>Address Proof</li>
                            </ul>
                            <h5>For Proposed Registered office:</h5>
                            <ul>
                                <li>Copy of utility bill </li>
                                <li>Scan copy of Rent Agreement with NOC</li>
                                <li>Copy of Property papers if owned</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-msme-tab" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <div class="tab-data">
                            <h4>Documents required :</h4>
                            <ul>
                                <li>Business Address Proof</li>
                                <li>Copies of Sale Bill and Purchase Bill</li>
                                <li>Partnership Deed / MOA and AOA</li>
                                <li>Copy of Licenses and Bills of Machinery Purchased</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-gst-tab" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <div class="tab-data">
                            <h4>HUF :</h4>
                            <ul>
                                <li> PAN card of HUF</li>
                                <li>PAN card and Aadhar card of Karta</li>
                                <li>Photograph of the owner </li>
                                <li>Bank account details*</li>
                                <li>Address proof of principal place of business**</li>
                            </ul>
                            <h5>Company (Public and Private) (Indian and foreign)</h5>
                            <ul>
                                <li>PAN card of CompanCertificate of incorporation </li>
                                <li>Memorandum of Association / Articles of Association</li>
                                <li>PAN card and Aadhar card of the authorized signatory.</li>
                                <li>PAN card and address proof of all directors of the Company</li>
                                <li>Photograph of all directors and authorised signatory </li>
                                <li>Board resolution appointing authorised signatory</li>
                                <li>Bank account details*</li>
                                <li>Address proof of principal place of business**</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-esi-tab" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <div class="tab-data">
                            <h4>The list of documents required for PF and ESI registration is given below:</h4>
                            <ul>
                                <li> Date of the setup of the organization.</li>
                                <li>Scanned copy of the company’s PAN (Proprietor’s, in case of proprietorship concern).
                                </li>
                                <li>Scanned copy of the licenses available in the name of the company. (like GST). </li>
                                <li>Scanned copy of cheque of company’s bank account.</li>
                                <li>Address of the company with address proof.</li>
                                <li>List of Directors / Partners.</li>
                                <li>Address proof of Proprietor / Director / Partner of the company.</li>
                                <li>Email address, Mobile number of Proprietor / Director / Partner of the company.</li>
                                <li>Copy of First sale bill / Job work bill and First purchase bill.</li>
                                <li>The monthly strength of employees from the date of setup.</li>
                            </ul>
                            <h5>Current list of employees with their details:</h5>
                            <ul>
                                <li>Name </li>
                                <li>Father’s Name</li>
                                <li>Date of joining</li>
                                <li>Date of birth</li>
                                <li>Mobile number </li>
                                <li>Postal address</li>
                                <li>Name of nominee</li>
                                <li>Grade</li>
                                <li>Salary</li>
                                <li>Designation</li>
                                <li>ID proof (Aadhaar and PAN)</li>
                                <li>Bank A/c number with IFSC code</li>
                                <li>Digital Signature of the Proprietor / Director / Partner</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
