<section class="privatelimited-wrapper">
  <div class="private-banner">
    <div class="banner-image">
      <div class="overlay">
        <div class="container">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-7">
                <h3>Private Limited Company Registration</h3>
                <div class="hr" style="border-bottom: 1px solid white"></div>
                <h4>
                  Ideal for start-ups who are going for funding & an ever
                  expanding business
                </h4>
                <h5>Starting At Rs. 5,999</h5>
                <p></p>
                <h6>SAVE 60% COST..!!!</h6>
                <h2>(Takes 10-20 days)</h2>
              </div>
              <div class="col-md-4 card-reg">
                <div class="card">
                  <div class="card-body">
                    <input type="text" placeholder="full name" id="name" />
                    <input type="email" placeholder="email" id="email" />
                    <input type="tel" placeholder="mobile number" id="number" />
                    <p><button type="button" id="proceed">proceed</button></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class=""></div>
        </div>

        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</section>
