/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

a, p, h1, h2, h3, h4, h5, h6, span, button, input {
    font-family: 'Poppins', sans-serif !important;
}

.container {
    max-width: 1300px !important;
    margin: auto !important;
}
