<section class="footer-wrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <div class="logo">
                            <img src="./assets/images/airtus-logo.jpg">
                        </div>
                        <p>We work with a passion of taking challenges and creating new ones in advertising sector.</p>

                        <div class="about">
                            <button class="btn about-btn">About us</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <h3>News Letter</h3>
                        <div class="news-letter">
                            <p>Subscribe our newsletter to get our latest update & news</p>

                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email">

                                <div class="send-icon">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <h3>Official Info</h3>

                        <div class="address">
                            <p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp;&nbsp;<span>30
                                    Commercial Road<br>
                                    Fratton, Australia</span>
                            </p>

                            <p><span><i class="fa fa-phone" aria-hidden="true"></i></span>&nbsp;&nbsp;1-888-452-1505</p>
                        </div>

                        <div class="hours">
                            <h4>Open Hours</h4>
                            <p>Mon&nbsp;-&nbsp;Sat: 8&nbsp;am&nbsp;-&nbsp;5&nbsp;pm, <br>
                                Sunday: CLOSED
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <h3>Gallery</h3>

                        <div class="footer-gallery">
                            <div class="images">
                                <img src="./assets/images/footer/1.jpg">
                                <img src="./assets/images/footer/1.jpg">
                                <img src="./assets/images/footer/1.jpg">
                            </div>

                            <div class="images">
                                <img src="./assets/images/footer/1.jpg">
                                <img src="./assets/images/footer/1.jpg">
                                <img src="./assets/images/footer/1.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>