<section class="service-wrapper">
    <div>
        <div class="services-tabs-section">
            <div  class="container">
                <div class="services-heading">
                    <h5>Automotive & Mobility</h5>
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Challenge</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Our Thinking</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">solutions</a>
                      <a class="nav-item nav-link" id="nav-impact-tab" data-toggle="tab" href="#nav-impact" role="tab" aria-controls="nav-home" aria-selected="true">impact</a>
                      <a class="nav-item nav-link" id="nav-experts-tab" data-toggle="tab" href="#nav-experts" role="tab" aria-controls="nav-experts" aria-selected="false">Powered By</a>
                    </div>
                </nav>
            </div>
            
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="tab-1">
                        <div class="tab-banner">
                            <img src="./assets/images/sectors/1.jpg">

                            <div class="banner-content">
                                <h3>Mastering Innovation Strategy and Delivery</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="tab-2">
                        <div class="container-1">
                            <div class="">
                                <h3 class="tab2-heading">Our Latest Thinking on Automotive & Mobility</h3>

                                <p>The auto industry continues its rapid digital evolution, with major shifts in mobility technology on the horizon.
                                     Self-driving, fully electric vehicles and new mobility business models could fundamentally alter how people get from one place to another.
                                      The automakers that embrace the latest technological advances will continue to lead the industry. Explore BCG’s latest thought leadership on
                                       automotive and mobility to chart the course for your business.</p>
                            </div>
                        </div>
                        <div class="tab-banner">
                            <img src="./assets/images/services/2.jpg">

                            <div class="banner-content">
                                <h3>Mastering Innovation Strategy and Delivery</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="tab-2">
                        <div class="container-1">
                            <div class="">
                                <h3 class="tab2-heading">Solutions for Tomorrow’s Automotive and Mobility Market</h3>
                                <p>Disruptions in the automotive industry, which today are often digitally enabled, are creating a wealth of opportunities and challenges for automakers,
                                     suppliers, and new market entrants. We at BCG shape the future together with our clients across the entire automotive value chain and the entire
                                      spectrum of automotive-based mobility.</p>
                            </div>
                        </div>
                        <!-- <div class="tab-banner">
                            <img src="./assets/images/services/2.jpg">

                            <div class="banner-content">
                                <h3>Mastering Innovation Strategy and Delivery</h3>
                            </div>

                        </div> -->
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-impact" role="tabpanel" aria-labelledby="nav-impact-tab">
                    <div class="tab-2">
                        <div class="container-1">
                            <div class="">
                                <h3 class="tab2-heading">Transforming for Long-Term Growth</h3>
                                <p>BCG is helping auto and mobility players handle the complexity of global presence in growth markets and develop winning technologies,
                                     mobility solutions, and partnerships.</p>
                            </div>
                        </div>
                        <!-- <div class="tab-banner">
                            <img src="./assets/images/services/2.jpg">

                            <div class="banner-content">
                                <h3>Mastering Innovation Strategy and Delivery</h3>
                            </div>

                        </div> -->
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-experts" role="tabpanel" aria-labelledby="nav-experts-tab">
                    <div class="tab-2">
                        <div class="container-1">
                            <div class="">
                                <h3 class="tab2-heading">Automotive & Mobility Experts</h3>
                                <p>BCG's automotive and mobility consultants and industry experts continue to partner with leading companies to arrive at solutions in product innovation,
                                     digital strategies, emissions, and more. These are BCG's global and regional leaders on this topic.</p>
                            </div>
                        </div>
                        <!-- <div class="tab-banner">
                            <img src="./assets/images/services/2.jpg">

                            <div class="banner-content">
                                <h3>Mastering Innovation Strategy and Delivery</h3>
                            </div>

                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





